
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-full;
}
html, body {
  @apply h-full;
}

@layer components {

  .dark .range {
    background-color: white; /* White track in dark mode */
  }

  .dark .range::-webkit-slider-runnable-track {
    background-color: white; /* White track in dark mode */
  }

  .dark .range::-webkit-slider-thumb {
    background-color: #ffffff; /* White thumb in dark mode */
  }

  .dark .range::-moz-range-track {
    background-color: white; /* White track in dark mode */
  }

  .dark .range::-moz-range-thumb {
    background-color: #ffffff; /* White thumb in dark mode */
  }
}
